body {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    background: #14131A url("../img/background.jpg") no-repeat center/100%;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
.container {
    max-width: 1140px;
    width: 90%;
    margin: auto;
}

/*Header*/
.header {
    display: flex;
    align-items: center;
    padding-top: 2%;
    margin-bottom: 7%;
}
.logo-link {
    display: inline-block;
    margin-right: 50px;
}
.nav-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.menu-close {
    display: none;
}
.menu-button {
    display: none;
}
.nav-menu-item {
    margin-right: 30px;
}
.nav-menu-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}
.film-date {
    display: block;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 3%;
    opacity: .8;
}
.film-logo {
    width: 70%;
}
.film-description {
    margin-top: 3%;
    max-width: 423px;
    font-size: 16px;
    line-height: 140%;
    opacity: .8;
}
.button-group {
    margin-top: 5%;
}
.button {
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
.button-icon,
.button-text {
    display: inline-block;
    vertical-align: middle;
}
.button-text {
    font-size: 14px;
    line-height: 16px;
    margin-left: 10px;
}
.button-primary {
    color: #8D0019;
    margin-right: 30px;
    background-color: #fff;
}
.button-link {
    color: #ffffff;
    cursor: pointer;
}
.venom {
    width: 50%;
    max-width: 800px;
    position: absolute;
    top: 10%;
    right: 0;

}
.blood {
    background: url("../img/bllood.png") no-repeat top 50px right/70%, #14131A url("../img/background.jpg") no-repeat center/90%;
}

/*about*/
.content {
    display: flex;
}
.col {
    flex-basis: 50%;
}
.content-title {
    margin: 0 0 21px;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;

    color: rgba(255, 255, 255, 0.8);
}
.content-text {
    max-width: 423px;
    margin: 0 0 30px;
    font-size: 16px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.8);
}
.content-subtitle {
    font-weight: bold;
    font-size: 16px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.8);
}
.list-double {
    padding: 0;
    list-style: none;
    font-size: 16px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.8);
    column-count: 2;
    column-gap: 60px;
    max-width: 330px;
    margin-bottom: 3%;
}
.content .trailer {
    width: 356px;
    height: 205px;
    background: url("../img/trailer-cover.jpg") no-repeat center/100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.trailer .play {
    border: none;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}
.play-icon {
    transform: translate(1px, 2px);
}
.poster-wrapper {
    display: flex;
    justify-content: start;
}
.creators {
    margin-left: 30px;
}
.list {
    margin: 5px 0 10px;
    padding: 0;
    list-style: none;
    font-size: 16px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.8);
}
.poster {
    width: 362px;
    border-radius: 5px;
}
@media (max-width: 1076px) {
    .content {
        flex-direction: column;
        align-items: center;
    }
    .col {
        margin-bottom: 10%;
    }
}
@media (max-width: 767px) {

}
@media (max-width: 560px) {
    .col {
        width: 100%;
    }
    .nav {
        margin-left: auto;
    }
    .menu-close {
        position: fixed;
        top: 40px;
        right: 25px;
        display: flex;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        color: white;
        z-index: 9;
        cursor: pointer;
        transform: translateX(200%);
        transition: .4s;
        opacity: .8;
    }
    .menu-close-text {
        margin-right: 10px;
    }
    .nav-menu {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 8;
        background-color: #14131a;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 1.7;
        font-size: 24px;
        transform: translateX(100%);
        transition: .2s;
    }
    .is-active {
        transform: translateX(0);
    }
    .nav-menu-item {
        margin: 0;
    }
    .menu-button {
        display: flex;
        background-color: rgba(0, 0, 0, 0);
        color: rgba(255, 255, 255, 0.8);
        border: 0;
        cursor: pointer;
    }
    .menu-button-text {
        margin-right: 10px;
    }
    .button-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .button-primary {
        margin: 0;
    }
    .film-description {
        margin-bottom: 40px;
        max-width: 330px;
        width: 100%;
    }
    .poster-wrapper {
        flex-direction: column;
        align-items: center;
    }
    .creators {
        margin-top: 5%;
        text-align: center;
    }
    .content .trailer {
        max-width: 356px;
        width: 100%;
    }
    .poster {
        max-width: 362px;
        width: 100%;
    }
    .list-double {
        column-count: 1;
    }
}

